{% extends '_layouts/message' %}

{% set title = 'Invalid Variable' %}
{% set isElement = value is instance of('\\craft\\base\\ElementInterface') %}


{% block message %}
    <h1>
        Invalid variable <code>{{ name }}</code> passed into <code>{{ componentName }}</code>
    </h1>
    <p>
        The variable <code>{{ name }}</code> is an {{ isElement ? 'element' : 'object' }} of type <code>{{ className(value) }}</code> and cannot be passed into a Sprig component. Allowed types are: <em>strings</em>, <em>numbers</em>, <em>booleans</em> and <em>arrays</em> (primitives).
    </p>
    {% if isElement %}
        <p>
            Instead of passing an element, consider passing its `id`.
        </p>
        <pre><code>{{ '{{' }} sprig('{{ componentName }}', { '{{ name }}Id': {{ name }}.id }) {{ '}}' }}</code></pre>
        <p>
            Then in your component you can fetch the element using its `id`.
        </p>
        {% if value.className starts with 'craft\\' %}
            <pre><code>{{ '{%' }} set {{ name }} = craft.{{ value.pluralDisplayName|camel }}.id({{ name }}Id).one() {{ '%}' }}</code></pre>
        {% endif %}
    {% endif %}
{% endblock %}

{% css %}
    code {
        padding: .25rem .5rem;
        border-radius: .25rem;
        background-color: rgb(241, 245, 253);
        color: #476582;
    }
    .message-container .pane {
        width: 90%;
    }
    @media (min-width: 900px) {
        .message-container .pane {
            width: 800px;
        }
    }
{% endcss %}
