{% extends '_layouts/message' %}

{% set title = 'Invalid Variable' %}


{% block message %}

    <h1>
        Invalid variable <code>{{ name }}</code> passed into <code>{{ componentName }}</code>
    </h1>

    <p>
        The variable <code>{{ name }}</code> {{ isArray ? 'is an array that contains' : 'is' }} an object of type <code>{{ className(value) }}</code> and cannot be passed into a Sprig component.
    </p>

    <p>
        Allowed value types are: <code>string</code>, <code>number</code>, <code>boolean</code>, <code>array</code> (of primitives) and <code>Element</code>.
    </p>

{% endblock %}


{% css %}
    code {
        padding: .25rem .5rem;
        border-radius: .25rem;
        background-color: rgb(241, 245, 253);
        color: #476582;
    }
    .message-container .pane {
        width: 90%;
    }
    @media (min-width: 900px) {
        .message-container .pane {
            width: 750px;
        }
    }
{% endcss %}
